<%- include ('partials/header') %>

<%- include ('partials/navbar') %>

<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-light  font-weight-bold">Do you know what a Palindrome is?</h2>
                <div class="p">
                    <p class="text-light" style="font-size: 1.15em;">A palindrome is a word, number, phrase, or sequence which reads the same backward as forward. Click on PaliChecker to verify if your word or phrase is a palindrome.</p>
                </div>
                <a href="palichecker.html" class="btn">Go to PaliChecker</a>
            </div>
        </div>
    </div>
</section>

<%- include ('partials/footer') %>