<%- include ('partials/header') %>

<%- include ('partials/navbar') %>

<section class="main">
    <div class="container">
        <div class="mx-auto white-background" style="width: 70%;">
                <form action="" method="post">
                    <div class="form-group" align="center">
                        <br>
                        <label for="input-pali" class="font-weight-bold">Type in a word, phrase or number to check if it is a palindrome.</label><br>

                        <input type="text" id="input-pali" placeholder="ex: Madam"class="form-control">
                        
                        <br>
                        
                        <button class="btn" type="submit">check</button>
                        </div>
                </form>
        </div>
    </div>
</section>

<%- include ('partials/footer') %>